@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 6rem; // 60px/10px
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 1rem // 10px/10px
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3rem; // 30px/10px
  letter-spacing: -0.2rem; // -2px/10px
  margin-bottom: 3rem; // 30px/10px
  text-align: center;
}
h2 {
  font-size: 1.68rem; // 16.8px/10px
  letter-spacing: -0.1rem; // -1px/10px
  margin-bottom: 3rem; // 30px/10px
  text-align: center;
  font-weight: normal;
  color: $gray-light; // bootstrap variable
}
p {
  font-size: 1.54rem; // 15.4px/10px
  line-height: 2.38rem; // 23.8px/10px
}

/* header */
#logo {
  float: left;
  margin-right: 1rem; // 10px/10px
  font-size: 2.38rem; // 23.8px/10px
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.1rem; // -1px/10px
  padding-top: 0.9rem; // 9px/10px
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 4.5rem; // 45px/10px
  padding-top: 0.5rem; // 5px/10px
  border-top: 0.1rem solid $gray-medium-light;
  color: $gray-light; // bootstrap variable
  a {
    color: $gray; // bootstrap varialbe
    &:hover {
      color: $gray-darker; // bootstrap variable
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1.5rem; // 15px/10px
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 2rem; // 20px/10px
  }
  section {
    padding: 1rem 0;
    margin-top: 2rem; // 20px/10px
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 0.3rem; // 3px/10px
      line-height: 1;
    }
    h1 {
      font-size: 1.96rem; // 19.6px/10px
      text-align: left;
      letter-spacing: -0.1rem; // -1px/10px
      margin-bottom: 0.3rem; // 3px/10px
      margin-top: 0rem;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 1rem; // 10px/10px
}
.gravatar_edit {
  margin-top: 1.5rem; // 15px/10px
}

/* forms */

input, textarea, select, .uneditable_input {
  border: 0.1rem solid #bbb;
  width: 100%;
  margin-bottom: 1.5rem;
  @include box-sizing;
}
input {
  height: auto !important;
  &[type='submit'] {
    margin-bottom: 1rem;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 3rem 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text // bootstrap color variable
  }
}
.checkbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  span {
    margin-left: 2rem;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
    li {
      overflow: auto;
      padding: 1rem 0;
      border-bottom: 0.1rem solid $gray-lighter; // bootstrap color variable
    }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 4.5rem;
  @include box_sizing;
}
